
body {
    background: url("/img/cuinZ6w.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}



li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
     border-width: 1px;
              border-top-color: transparent;
              border-bottom-color: transparent;
              border-left-color: transparent;
              border-right-color: #ffffff;



}

li img{
        display: block;
        margin: auto;
        width: 60px;
        height: auto;
}

li a:hover:not(.active) {
    background-color: #FFA600;
}

.active {
    background-color: #FF0000;
}





 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
               border-style: solid;
               border-top-color: #ffffff;
               border-bottom-color: #ffffff;
               border-left-color: #ffffff;
               border-right-color: transparent;
               border-width: 1px;
 }


 li a, .dropbtn {
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 li a:hover, .dropdown:hover .dropbtn {
     background-color: red;
 }

 li.dropdown {
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

 .dropdown-content a:hover {background-color: #f1f1f1}

 .dropdown:hover .dropdown-content {
     display: block;
 }


.floating-box {
    background:#ffffff;
    opacity: 0.8;
    float: left;
    width: 30%;
    height: 200px;
    border: 3px solid #ffffff;
    font-size: 120%;
}

.floating-box > img{
    margin-top: 10px;
     width: 200px;
     height: 180px;

}
.floating-box > div{
     width: 30%;
}

#motto{

    padding: 70px 0px 50px 200px;
}

.title{
    color: red;
}

#contain {
     padding: 0px 0px 0px 100px;
}

.text{
    float:right;
    margin-right:50px;
    margin-top:15px;
}



